<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DropBoxLinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DropBoxLinker.Properties.Settings>
            <setting name="HttpPath" serializeAs="String">
                <value>http://dl.dropbox.com/u</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncDirectory" serializeAs="String">
                <value />
            </setting>
        </DropBoxLinker.Properties.Settings>
    </userSettings>
</configuration>